extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content 
    //- nav#navbar
    //-     ul
    //-         div#logo
    //-             img(src="/static/e.png")
    //-             | HDA
    //-         li #[a(href='/') Home ]
    //-         li #[a(href='/') About ]
    //-         li #[a(href='/') Services ]
    //-         li #[a(href='/') Class Info ]
    //-         li #[a(href='/') Contact Us ]

    section#introSection 
        div Welcome To Utkarsh's Dance Academy 
        div.small Dance India Dance 
            
    section#missionSection 
        h2 Our Mission 
        div.card
            h3 Dance Perfectiom 
            div.card-box
                div.card-img
                    img(src="/static/1.png")

                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit.

        div.card
            h3 Dance The Way Your Like
            div.card-box
                div.card-img
                    img(src="/static/2.png")

                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/3.png")

                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                
    section#sponsorsSection 
        h2 Our Sponsors 
        div#sponsors
            img(src="/static/hp.png", alt="Sponsor Image", class="spImage" )
            img(src="/static/sk.png", alt="Sponsor Image", class="spImage" )
            img(src="/static/ap.png", alt="Sponsor Image", class="spImage" )
            img(src="/static/ms.png", alt="Sponsor Image", class="spImage" )