* {
    margin: 4px;
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo {
    display: flex;
    color: white;
    align-items: inherit;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img {
    height: 40px;
    /* filter: invert(2); */

}

#navbar {
    background-color: #3d7342;
    padding: 13px 14px;
    font-weight: bold;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;

}

#navbar li a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 7px 11px;
}

#navbar li a:hover {
    color: gold;
}

#introSection {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat url("/static/bg1.jpg");
    height: 425px;
    background-color: red;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

#introSection div.small {
    color: #49b1af;
    font-size: 30px;
}

#missionSection {
    height: 326px;
    background: center / cover no-repeat url("/static/bg3.jpg");
    background-color: rgb(122, 189, 122);
    /* width: 67%; */
    margin: auto;
}

#missionSection h2 {
    color: whitesmoke;
    font-style: oblique;
    text-align: center;
    padding-top: 12px;
    font-size: 31px;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10PX;
    width: 28%;
    margin: 23px 35px;
    height: 209px;

}

.card h3 {
    text-align: center;
    font-size: 23px;
    font-family: monospace;
    margin: 12px;
    margin-top: 15px;

}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 131px;
    margin: 5px 9px;
    padding: 0 14px;

}

.card-img img {
    height: inherit;
}

.card-content {
    padding: 0 10px;
}

.card-content p {
    font-size: 19px;
}

#sponsorsSection {
    height: 300px;
    background-color: rgb(66, 248, 69);
}

#sponsorsSection h2 {
    font-style: oblique;
    text-align: center;
    padding-top: 12px;
    /* font-size: 40px; */
}

#sponsors {
    align-items: center;
    height: 191px;
    max-width: 1000px;
    margin: 27px auto;
}

.spImage {
    height: 120px;
    margin: 30px;
}

#footer{
    background-color: wheat;
    height: 60px;
    font-size: 20px;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    display: flex;
}